<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vote stations work-times</title>
</head>
<body>

    <table border="1" align="center">
        <tr>
            <th>Station №</th><th th:text = "${one}">first day</th><th th:text = "${two}">second day</th><th th:text = "${three}">third day</th>
        </tr>
        <tr  th:each="entry : ${voteTable}">
            <td th:text = "${entry.getKey()}"></td>
            <td th:each="row : ${entry.getValue().periods}" th:attr="style='text-align:center'" th:switch="${row.toString().length()}">
                <span th:case="0">
                    <span  th:attr="style='background-color:lime'">Out of work</span>
                </span>
                <span th:case="*">
                    <span th:text="${row}"></span>
                </span>
            </td>
        </tr>
    </table>

</body>
</html>