
#addContact-form {
    width: 125px;
    height: 180px;
    background: yellow;
    //outline: 3px solid #000;
    border: 20px solid #0FA;
    border-radius: 45px;
}

#delContact-form {
    width: 125px;
    height: 145px;
    background: yellow;
    //outline: 3px solid #000;
    border: 20px solid #0FA;
    border-radius: 45px;
}

.form {
    position: fixed;
    top: 150px;
    left: 100px;
}


label {
    margin-left: 5%;
}



#header {
position: fixed;
left: 100px;
}

.btn {
margin-left: 65px;
}


#contactDiv {
position: relative;
left: 400px;
}