<!DOCTYPE html>
<html lang="en" xmlns:th = "http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="js/main.js"></script>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>





<body>
    <div class="form" id="addContact-form" style="display: none">
        <form>
            <h3 align="center">Add contact</h3>
            <label>Add new contact</label>
            <input type="text" name="name" value="">
            <label>Phone number</label>
            <input type="text" name="phone">
            <hr>
            <input class="btn" id="save-btn" type="button" value="save">
        </form>
    </div>
    <div class="form" id="delContact-form" style="display: none">
        <form>
            <h3 align="center">Delete contact</h3>
            <label>Contact name</label>
            <input id="delOnName" type="text" name="name" value="">
            <hr>
            <input class="btn" id="delBtn" type="button" value="Delete">
        </form>
    </div>



    <header id="header">
        <br><br>
        <h2>PhoneBook (<span th:text="${Count}">0</span>)</h2>
        <input id="show-form" type="button" value="Add contact">
        <input type="button" id="showDel-form" value="Delete contact">
        <br><br>
    </header>



    <div id="contactDiv"> <ul> </ul>
        <div th:each="contact : ${Contacts}">
            <li class="contact" th:attr = "data-id=${contact.id}" th:text="${contact.name} +' '+ ${contact.phone}"></li>
        </div>
    </div>





</body>
</html>