<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="javascript/main.js"></script>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>

<form action="/up" method="post" enctype="multipart/form-data">
    <input type="file" name="scan" accept="image/*">
    <input type="submit" value="ok">
</form>

<br>
<div id="picsList">
    <h5 th:each="pic : ${img}"><a th:href="@{|/pics/${pic.getName()}/|}" th:text="${pic.getName()}"></a> <a class="del"> Del</a></h5>
</div>


</body>
</html>